body {
  color: rgb(0, 0, 0);
  background-color: rgb(204, 204, 255);
  background-image: var(--fd);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
margin:10px;
padding:0;
font-family:Arial, Helvetica, sans-serif;
}

p {
 font-size:10pt;
 font-family:Arial;
}

p.what {
  font-weight: bold;
  font-style: italic;
  color: var(--head);
}

SELECT {
  font-size:10pt;
  font-family:Arial;
}

.chap {
 position:fixed;
 top:0px;
 left:0px;
 width:100%;
 z-index:18;
}
 
#HDropdown-orange-classic {
 margin:0;
 padding:0px;
 list-style:none;
 background: var(--bg) repeat-x top;
 height:28px; width:100%;
 border:solid 1px var(--head);
 border-width:1px 1px 1px 0;
}

#HDropdown-orange-classic li{
 display:inline;
 position:relative;
 float:left;
}

#HDropdown-orange-classic li a {
 display:block;
 float:left;
 height:29px;
 line-height:29px;
 padding:0 25px;
 text-decoration:none;
 color:#FFFFFF;
 font-weight:normal;
 font-size:14px;
 border-left:solid 1px var(--head);
}

#HDropdown-orange-classic li a:hover {
 color:var(--head);
 background:#FFFFFF;
}
	
#HDropdown-orange-classic li ul {
 margin:0;
 padding:0 5px;
 line-height:0px;
 position:absolute;
 top:29px; left:0;
 border:solid 1px var(--head);
 border-width:0px 1px 1px 1px;
 width:260px;
 display:none;
 background:#FFFFFF;
}

#HDropdown-orange-classic li:hover ul {
 display:block
}

#HDropdown-orange-classic li:hover a {
 color:var(--head);
 background:#FFFFFF;
}

#HDropdown-orange-classic li ul li {
 display:block;
 border-bottom:solid 1px #dbdcd9;
 width:100%;
 background:url(../img/menu_arrow.gif) no-repeat 3px 12px;
 padding:0 0 0 10px;
}

#HDropdown-orange-classic li ul li:last-child {
 border-bottom:0px;
}

#HDropdown-orange-classic li ul a {
 border-width:0px; color:#909090;
 padding:0 5px 0 0;
 background-color:transparent;
}

#HDropdown-orange-classic li:hover ul li a {
 color:#909090
}

#HDropdown-orange-classic li ul li a:hover {
 color:var(--head)
}

.chap:hover ~ .gen > select:focus{
    display:none;    
}	

