#menup1 {
height:14px;
margin-left: 60px;
margin-top: 20px;
font-size: 100%;
font-weight: 900;
}
#menup1 ul {
margin: 0px;
padding:0;
list-style-type:none;
text-align:center;
position: relative;
z-index: 200;
background-color: #fff;
}
#menup1 li {
float:left;
margin:2px;
padding:0;
/*background:url(../images/boutonnoir.png) no-repeat;*/
}
#menup1 li a {
display:block;
width:150px;
color:white;
text-decoration:none;
padding:6px;
}
#menup1 li a:hover {
color:white;
/*background:url(../images/boutonnoir2.png) no-repeat;*/
}
#menup1 ul li ul {
display:none;
}
#menup1 ul li:hover ul {
display:block;
}
#menup1 li:hover ul li {
float:none;
}


#menup1 li ul {
position:absolute;
}

input.nbe {
width: 60px;
}
